<div class="header-user">
	<div id="global-header-bar" class="global-header-bar--white"></div>
	<div class="header-inner">
		<div id="header-user--nav" class="grid-row">
			<div class="column-one-third">
				<h2 class="heading-small">
					<a href="#">Cambridge College</a>
					<!-- <span class="heading-secondary">
						adjsadj
					</span> -->
				</h2>
			</div>

			<div class="column-two-thirds">
				<nav id="user-nav" class="js-hidden-mobile">
					<ul>
						<li><a href="./data-submissions">Submit your data</a></li>
						<li><a href="./history">View submission history</a></li>
						<li><a href="./settings">Settings</a></li>
						<li><a href="./?authenticated=false">Sign out</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<!-- 
<div class="header-organisation">
	<div class="header-inner">
		<h2 class="heading-medium">
			Cambridge College
		</h2>
		<nav id="global-nav" class="global-nav">
			<ul id="global-nav-links">
				<li class="home-nav"><a href="/support/balance">Home</a></li>
				<li class="finance-nav"><a href="/support/finance">Finance</a></li>
				<li class="people-nav"><a href="/support/apprentice-view/spend">Apprentices</a></li>
				<li class="team-nav"><a href="/support/settings/users">Your team</a></li>
				<li class="top_nav"><a href="#">Your organisations and agreements</a></li>
				<li class="top_nav"><a href="#">PAYE schemes</a></li>
			</ul>
		</nav>
	</div>
</div>
 -->