{% extends "version-6/layout.html" %}

{% block page_title %}
Submit an ILR - GOV.UK
{% endblock %}

{% block service_name %}
Submit an ILR
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include 'includes/phase_banner.html' %}
	
	<div class="back">
		<a class="back-to-previous link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous question</span></a>
	</div>
	
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				Check and submit your <abbr title="Individual Learner Record">ILR</abbr> file
			</h1>
			
			<p>After confirming and submitting your uploaded file, it will be added to a queue for processing.</p>
			
			<table>
				<tbody>
					<tr>
						<td class="bold">File name</td>
						<td>{{ data['file-upload'] }}</td>
						<td>
							<a href="javascript:history.back()">Change<span class="visually-hidden"> file</span></a>
						</td>
					</tr>
					<tr>
						<td class="bold">File size</td>
						<td>209.8kb</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			
			<br>
						
			<form action="submission-complete">				
				<div class="form-group">
					<div class="multiple-choice">
						<input id="email-confirmation" name="email-confirmation" type="checkbox" value="email-confirmation" checked>
						<label for="email-confirmation">Email me when the ILR file has been processed</label>
					</div>
				</div>
				
				<div class="form-group">
					<input type="hidden" name="ilr-submission-status" value="processing">
					<input type="submit" class="button" role="button" value="Confirm and submit file">
				</div>
			</form>
		</div>
	</div>
</main>

{% endblock %}